<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNiQdXjfEA7UwdDsofNF7_iEw_Z8Pgy4I</string>
	<key>GCM_SENDER_ID</key>
	<string>46802841767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tasklist-b01ae</string>
	<key>STORAGE_BUCKET</key>
	<string>tasklist-b01ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46802841767:ios:18e9d36e9d8b639a64eb82</string>
</dict>
</plist>